.card {

    margin: 0px 5px 20px 5px;
    background-color: #171C2A;
    /* border-radius: 20px; */

}

.read-more-card {

    background-color: #171C2A;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 30%);
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;

}

.small-card-full{

    height: 294px;

}

.card-small {

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}

.read-button {

    /* float: right; */
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;

}

/*  Test Hide/Show

.card-deck {

    display: none !important;

} */

.card-deck {

    -webkit-transition: opacity 1s;
    transition: opacity 1s;

}

.close-icon {

    font-size: 20px;
    margin-bottom: 10px;
    align-self: flex-end

}

.read-card-title {

    display: inline-flex;

}

.title-icon {

    display: flex;
    justify-content: space-between;

}

.close-button, .close-button:focus, .close-button:active {

    border: 0;
    outline: none;
    background-color: transparent;

}

  .footer {

    margin: 30px 0 0 0;
    padding: 0 40px;

  }

  .footer-container {

    
    background-color:#171C2A;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 91.6666666667%;
    
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    
  }