.card {

    margin: 0px 5px 20px 5px;
    background-color: #171C2A;
    /* border-radius: 20px; */

}

.about-title{

    margin: 50px 0 30px 20px;
}

.read-more-card {

    background-color: #171C2A;
    display: none;
    /* border-radius: 50px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 30%);

}

.read-button {

    float: right;

}

/*  Test Hide/Show

.card-deck {

    display: none !important;

} */

.close-icon {

    font-size: 20px;
    margin-bottom: 10px;
    align-self: flex-end

}

.read-card-title {

    display: inline-flex;

}

.title-icon {

    display: flex;
    justify-content: space-between;

}

.close-button, .close-button:focus, .close-button:active {

    border: 0;
    outline: none;
    background-color: transparent;

}