<div class="container-fluid footer-fix">

  <div class="row justify-content-around">

    <H1 class="title">

      Background

    </H1>

    <div class="col-md-6 justify-content-end">

      <h3 class="title">
        Education
      </h3>

      <ul class="lists">
        <hr>
        <li class="media my-4" *ngFor="let edu of edus">
          <div class="media-body">
            <h4 class="p-2">{{edu.cert}}</h4>
            <h5 class="p-2">{{edu.place}}</h5>
            <h6>{{edu.date}}</h6>
            {{edu.detail}}
          </div>
          <div class="align-self-center">
            <img class="mr-3 media-image" src="../../assets/rec.png">
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-6 justify-content-end">

      <h3 class="title">

        Work

      </h3>

      <ul class="lists">
        <hr>
        <li class="media my-4" *ngFor="let work of works">
          <div class="media-body">
            <h4 class="p-2">{{work.cert}}</h4>
            <h5 class="p-2">{{work.place}}</h5>
            <h6>{{work.date}}</h6>
            {{work.detail}}
          </div>
          <div class="align-self-center">
            <img class="mr-3 media-image" src="../../assets/rec.png">
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>