.contact-title{

    margin: 30px 0 30px 20px;

}

.card {

    background-color: #1a222e8f;
    height: 15rem;
    position: relative;
    width: 100%;
    border: none;

}

.card-body {

    transform: rotateY(180deg);
    padding: 3rem 15px;

}

.flip-front, .card-body {

    backface-visibility: hidden;
    transition: transform 0.6s;
    /* display: block; */
    height: 100%;
    position: absolute;
    width: 100%;

}

.flip-effect {

    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.card:hover .flip-effect {

    transform: rotateY(180deg);

}

.second-row {

    margin: 30px 0;

}

.card-front-text {

    padding: 5.5rem 0;
    font-size: 40px;

}

.back-btn, .back-btn:focus, .back-btn:active {

    margin-top: 15px;
    background-color: white;
    color: black;
    border-color: transparent;

    box-shadow: none;
    outline: none;

}

.bi, span {

    font-size: 35px;

}

@media only screen and (max-width: 767px) { 

    .second-row {

        margin: 0;

    }

    .col-md-6 {

        margin-top: 30px;

    }

    .first-col {

        margin: 0;

    }

}

@media only screen and (max-width: 450px) {
    
    .bi, span {

        font-size: 30px;

    }

}

@media only screen and (max-width: 325px) {

    .bi, span {

        font-size: 20px;

    } 

}

@media only screen and (max-width: 325px) { 

    .bi {

        display: none;

    }

}