<div class="container-fluid footer-fix">

    <div class="row justify-content-around">

        <h2 class="contact-title">Contact Information</h2>

        <div class="col-md-5 ">
            <div class="contact-card">
                <div class="d-flex flex-column  justify-content-start">
                    <div class="p-2 d-flex">
                        <div class="div-text">Country: </div>
                        <div class="div-text right-text">Colombia</div>
                    </div>
                    <div class="p-2 d-flex">
                        <div class="div-text">City: </div>
                        <div class="div-text right-text">Medellin</div>
                    </div>
                    <!-- <div class="p-2 d-flex">
                        <div class="div-text">Country: </div>
                        <div class="div-text right-text">Colombia</div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 second-card">
            <div class="contact-card">
                <div class="d-flex flex-column  justify-content-start">
                    <div class="p-2 d-flex">
                        <div class="div-text">Email: </div>
                        <div class="div-text right-text">micamerchan@gmail.com</div>
                    </div>
                    <div class="p-2 d-flex">
                        <div class="div-text">Skype: </div>
                        <div class="div-text right-text"><a href="https://join.skype.com/invite/vdY7eMRtjRWM">live:michaelagirremerchan</a></div>
                    </div>
                    <!-- <div class="p-2 d-flex">
                        <div class="div-text">Country: </div>
                        <div class="div-text right-text">Colombia</div>
                    </div> -->
                </div>
            </div>
        </div>
        
        <!-- <div class="col-3">
            <div class="contact-card">
                3
            </div>
        </div> -->
    </div>

    <div class="row justify-content-center">

        <h4 class="contact-title-2">Get in touch</h4>

        <div class="col-11">

            <div class="form-card">

                <form>

                    <div class="input-group form-margin">

                        <div class="input-group-prepend">

                            <span class="input-group-text form-icon" id="inputGroupPrepend">

                                <i class="bi bi-envelope-fill"></i>
                                
                            </span>

                        </div>

                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
                    
                    </div>

                    <div class="input-group form-margin">

                        <div class="input-group-prepend">

                            <span class="input-group-text form-icon" id="inputGroupPrepend">

                                <i class="bi bi-person-fill"></i>

                            </span>

                        </div>
    
                        <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
                    
                    </div>

                    <div class="form-group form-margin">

                        <textarea rows="6" class="form-control" formControlName="Comment" placeholder="Comment" name="Comment"></textarea>

                    </div>

                    <button type="submit" class="btn btn-primary button">Submit</button>
                
                </form>

            </div>

        </div>
        
    </div>

</div>