<div class="menu-container">

    <div class="box-1">

        <img src="../../assets/user.jpg" class="rounded-circle user-image">
        <h4 class="center">Michael Aguirre Merchan</h4>
        <h6 class="center text-muted">Front-End developer</h6>

    </div>

    <div class="box-2">

        <hr>

        <ul class="menu-list">
            <li class="fix-bottom"><a href="/home">Home</a></li>
            <li class="fix-bottom"><a href="/play">Play</a></li>
            <li class="fix-bottom"><a href="/about">About</a></li>
            <li class="fix-bottom"><a href="/background">Background</a></li>
            <li class="fix-bottom"><a href="/documentation">Documentation</a></li>
            <li class="fix-bottom"><a href="/contact">Contact</a></li>
        </ul>

        <hr>

        <Button class="btn btn-outline-light cv no-margin no-padding" (click)="onDown()">
            <h5 class="no-margin">Download CV</h5>
        </Button>

        <hr>

    </div>

    <div class="box-3 d-flex flex-row justify-content-around">

        <div class="d-inline-flex p-2"><a href="https://www.linkedin.com/in/michael-merchan" target=”_blank”><i
                    class="bi bi-linkedin social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://github.com/Michael-Aguirre-Merchan" target=”_blank”><i
                    class="bi bi-github social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://t.me/Michael2708" target=”_blank”><i
                    class="bi bi-telegram social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://join.skype.com/invite/vdY7eMRtjRWM" target=”_blank”><img
                    class="social-icon-img" src="../../assets/skype.png"></a></div>


    </div>

</div>