<!-- <div class="menu-card-1 d-flex flex-column text-center">

    <img src="../../assets/user.jpg" class="rounded-circle user-image">

    <h4 class="center">Michael Aguirre Merchan</h4>

    <h6 class="center text-muted">Front-End developer</h6>

</div>

<div class="menu-card-2">

    <ul class="user-list text-center">
        <li class="fix-bottom"><a href="/home">Home</a></li>
        <li class="fix-bottom"><a href="/play">Play</a></li>
        <li class="fix-bottom"><a href="/about">About</a></li>
        <li class="fix-bottom"><a href="/history">History</a></li>
        <li class="fix-bottom"><a href="/contact">Contact</a></li>
    </ul>

</div>

<div class="menu-card-3 text-center">
    <h4><a href="#">Download CV</a></h4>
</div>

<div class="menu-card-4 d-flex flex-row justify-content-around">

    <div class="d-inline-flex p-2"><a href="#"><i class="bi bi-linkedin social-icon"></i></a></div>
    <div class="d-inline-flex p-2"><a href="#"><i class="bi bi-github social-icon"></i></a></div>
    <div class="d-inline-flex p-2"><a href="#"><i class="bi bi-telegram social-icon"></i></a></div>
    <div class="d-inline-flex p-2"><a href="#"><img class="social-icon-img" src="../../assets/skype.png"></a></div>

</div> -->
<div class="menu-card d-flex flex-column text-center">

    <div class="menu-card-1 menu-card-width">



        <img src="../../assets/user.jpg" class="rounded-circle user-image">

        <h4 class="center">Michael Aguirre Merchan</h4>

        <h6 class="center text-muted">Front-End developer</h6>



    </div>

    <div class="menu-card-2">

        <div class="divider fix-bottom"></div>

        <ul class="user-list text-center">
            <li class="fix-bottom"><a href="/home">Home</a></li>
            <li class="fix-bottom"><a href="/play">Play</a></li>
            <li class="fix-bottom"><a href="/about">About</a></li>
            <li class="fix-bottom"><a href="/background">Background</a></li>
            <li class="fix-bottom"><a href="/contact">Contact</a></li>
        </ul>

        <div class="divider fix-bottom"></div>

        <h5><a href="#">Download CV</a></h5>

        <div class="divider"></div>

    </div>

    <div class="menu-card-4 d-flex flex-row justify-content-around ">

        <div class="d-inline-flex p-2"><a href="https://www.linkedin.com/in/michael-merchan" target=”_blank”><i
                    class="bi bi-linkedin social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://github.com/Michael-Aguirre-Merchan" target=”_blank”><i
                    class="bi bi-github social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://t.me/Michael2708" target=”_blank”><i
                    class="bi bi-telegram social-icon"></i></a></div>
        <div class="d-inline-flex p-2"><a href="https://join.skype.com/invite/vdY7eMRtjRWM" target=”_blank”><img
                    class="social-icon-img" src="../../assets/skype.png"></a></div>


    </div>

</div>