<div class="menu-card-1 d-flex flex-column text-center">

    <img src="../../assets/user.jpg" class="rounded-circle user-image">

    <h4 class="center">Michael Aguirre Merchan</h4>

    <br>

    <h5 class="center">Front-End developer</h5>

</div>

<div class="menu-card-2">

    <ul class="user-list text-center">
        <li class="fix-bottom"><a href="/home">Home</a></li>
        <li class="fix-bottom"><a href="/play">Play</a></li>
        <li class="fix-bottom"><a href="/about">About</a></li>
        <li class="fix-bottom"><a href="/history">History</a></li>
        <li class="fix-bottom"><a href="/contact">Contact</a></li>
    </ul>

</div>

<div class="menu-card-3 text-center">
    <h3><a>Download CV</a></h3>
</div>

<div class="menu-card-4 d-flex flex-row justify-content-around">

    <div class="d-inline-flex p-2"><i class="bi bi-linkedin social-icon"></i></div>
    <div class="d-inline-flex p-2"><i class="bi bi-github social-icon"></i></div>
    <div class="d-inline-flex p-2"><i class="bi bi-telegram social-icon"></i></div>
    <div class="d-inline-flex p-2"><img class="social-icon-img" src="../../assets/skype.png"></div>

</div>