::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
  margin: 10px 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 100px;
  height: 10px;
}

.responsive-menu {
    display: none;
    position: fixed;
    top: 0;
  }
  
  /* Position and style the close button (top right corner) */
  .close {
    position: relative;
    top: 0;
    left: 120px;
    font-size: 36px;
    margin-left: 50px;
  }

  .dots-container{

    background-color: #171C2A;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 5px 20px;
    display: none;

  }

  .dots-buton {

    color: rgba(255, 255, 255, 50%);
    font-size: 30px;
    

  }

  .dots-container:hover {

    color:rgba(255, 255, 255, 100%);

  }

  .open-menu {

    display: none;
    background-color: transparent;
    border-color: transparent;

  }

  .body-margin {

    margin-bottom: 70px;

  }

  .responsive-menu-fix {
  padding-bottom: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
  }

  @media only screen and (max-width: 1199px) {
    
    .open-menu {

        display: block

    }

    .normal-menu, .col-2 {

        display: none;

    }

    .row-margin {

      /* margin: 0 0 2% 0; */
      margin: 0;

    }

    .responsive-menu-fix {

      padding-top: 70px;

    }

    .dots-container {

      display: block;

    }
    
  }
