<app-loading *ngIf="!loaded"></app-loading>

<div>

  <div class="row no-padding no-margin">
    <div class="col-2 no-padding">
      <app-menu></app-menu>
    </div>

    <div class="col-12 col-xl-10 no-padding">
      <div class="dots-container">
        <button class="open-menu" (click)="openMenu()"><i class="bi bi-three-dots dots-buton"></i></button>
      </div>

      <div id="body">
        <router-outlet></router-outlet>
      </div>

    </div>


    <!-- Responsive Menu - Start -->
    <div id="responsiveMenu" class="responsive-menu">
      <app-menu></app-menu>
      <a class="close" (click)="closeMenu()">&times;</a>
    </div>

    <!-- Responsive Menu - End -->
  </div>
</div>