.row-margin {

    margin: 2% !important;

}

.for-back-img {

    background-image: url(../assets/back.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 55px;
    

}

.for-back-color {

    background-color: rgba(23, 32, 42, 95%);
    border-radius: 55px;

}

.col-2 {

    padding: 0 !important;

}