.board {

    display: none;

}

.title {

  margin-bottom: 10px;

}

.p-2 {

  width: fit-content; 
  margin-right: 10px;
  display: none;

}

.white-pieces, .black-pieces {

  margin-bottom: 15px;

}

#player-1, #plater-2 {

  height: fit-content;
  padding-bottom: 10px;

}

.board-container {

    margin: 0px auto 0px auto;
    width: fit-content;

}

.players {

    background-color: rgba(26, 35, 46, 70%);
    height: fit-content;

}

svg {

  height: 35px;
  width: 22.5px;

}

:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  p {
    font-family: Lato;
  }
  
  .control {
    border-radius: 50%;
    border: 2px solid #bc70ea;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    opacity: 0.4;
    cursor: pointer;
    outline: none;
  }

  .justify-content-center {

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}
  
  .control:hover {
    opacity: 1;
  }
  
  .play-icon {
    height: 40px;
    width: 50px;
    position: relative;
    left: 10px;
    border-right: none;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #a25be2;
    box-sizing: border-box;
  }
  
  
  .pause-icon {
    height: 50px;
    width: 30px;
    box-sizing: border-box;
    border-left: 10px solid #a25be2;
    border-right: 10px solid #a25be2;
  }

  .white-text {

    color: #baa378;

  }

  .black-text {

    color: #61543d;

  }

  .row-buttons{

    margin-top: 20px;

  }

  .pieces-titles {

    margin: 20px;

  }

  .control-buttons, .control-buttons:active, .control-buttons:focus {

    width: 100%;
    box-shadow: none;
    border-color: white;
    background-color: transparent;
    color: white;
    border-radius: 5px;

    box-shadow: none;
    outline: none;

  }

@media only screen and (max-width: 768px) {

    .board-container {
        margin: 30px auto 30px auto;
    }

    .down-player {

      margin: 30px;

    }

    .players {

      padding-bottom: 30px

    }

}