@import "~bootstrap/dist/css/bootstrap.css";  
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    
    background-color:#141B24;
    overflow: hidden;
    
    /* ANCHOR Star Wars Animation
    
    animation: backBody 5s linear 0s 1 forwards; */

}

h1, h2, h3, h4, h5, h6, p, span, li, a, a:hover, i, div{

    font-family: "Goudy Old Style" !important;
    color: white;

}

a:hover, a {

    text-decoration: none;

}

p {

    margin: 0

}

.footer-fix {

    padding-bottom: 50px;

}


#codebox {
    padding: 15px 25px;
    /* font-size: 1em;
      line-height: 1.3; */
    color: #fff;
    background-color: #0e2233;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    /* margin-bottom: 10px; */
  }
  
  code {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: white;
    /* font-size: 1em;
      line-height: 1.3; */
  }

  .replace {

    color: #baa378 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

  }
  
  .codeheader {
    padding: 5px 5px 5px 10px;
    /* font-size: 1.1em; */
    color: #fff;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
      user-select: none;
      -ms-user-select: none; /* IE10+, Edge */
      -moz-user-select: none; /* Mozilla */
      -webkit-user-select: none; /* Safari */
  }
  
  #codeheader_html {
    background-color: #E34C26;
  }
  #codeheader_css {
    background-color: #264DE4;
  }
  #codeheader_ts {
    background-color: #eb1ec6;
  }
  #codeheader_js {
    background-color: #F0DB4F;
  }
  #codeheader_commands {
    background-color: #009C8C;
  }
  #codeheader_aws {
    background-color: #8d969e;
  }


/* ANCHOR Star Wars Animation

@keyframes backBody{

    0%   {background-color:rgb(0, 0, 0);}
    99%  {background-color:rgb(0, 0, 0);}
    100% {background-color:#141B24;}


} */