<div class="container-fluid home-first">

    <div class="jumbotron jumbotron-fluid">

        <div class="jumbo-back-color">

            <div class="row justify-content-center">

                <div class="col-10 fix-text">

                    <h1 class="display-4">Hi, I'm Michael.</h1>

                    <br>

                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

                    </p>

                </div>

            </div>

        </div>

    </div>
    
</div>

<div class="container-fluid">

    <div class="row justify-content-around">

        <div class="col-lg-6 align-self-center ">

            <div class="img-div">
            <img class="test-img" src="../../assets/Image 1.png">
            </div>
        </div>

        <div class="col-8 col-lg-6  text-col">

            <h3>Lorem Ipsum</h3>

            <br>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est </p>

        </div>

    </div>

</div>