<div class="container-fluid home-first">

    <div class="jumbotron jumbotron-fluid">

        <div class="jumbo-back-color">

            <div class="row justify-content-center">

                <div class="col-10 fix-text">

                    <h1 class="display-4">
                        <div class="animation-text">
                            <a class="typewrite" data-period="1000"
                                data-type='[ "Hello There", "I am Michael", "I Love to Develop" ]'>
                                <span class="wrap"></span>
                            </a>
                            <p>.</p>
                        </div>
                    </h1>

                    <br>

                    <p class="lead">Angular | HTML | CSS | SCSS | Desarrollo de Software</p>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container-fluid footer-fix">

    <div class="row justify-content-around">

        <div class="col-lg-7 align-self-center ">

            <div class="img-div">
                <img class="test-img" src="../../assets/Image 1.png">
            </div>
        </div>

        <div class="col-10 col-lg-5  text-col">

            <!-- <h3>Lorem Ipsum</h3>

            <br> -->
            <div class="d-flex align-items-center" style="height: 100%;">
                <p>I am a second-year control engineering student looking to enter the software industry. I have done
                    studies on my own on some computer technologies. I am experienced in Backend/Frontend with Angular
                    and working with APIs, with additional Java, JavaScript, CSS, HTML, PHP, and SQL. My primary
                    interests are frontend design and software development. I'm always looking forward to learning new
                    technologies, and it's something I'm pretty good at. </p>
            </div>
        </div>

    </div>

</div>