.jumbotron {

    background-image: url(../../assets/back-small.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* border-radius: 50px; */

}

.jumbo-back-color {

    background-color: rgba(30, 41, 52, 86%);
    /* border-radius: 50px; */
}

.fix-text {

    padding: 20px 0 20px 0;

}

.home-first {

    padding: 50px 40px 50px 40px;

}

.test-img {

    width: 100%;
    height: auto;

}

.img-div {

    width: fit-content;
    margin: auto;

}

.animation-text {

    display: flex;

}

.lead {

    animation: color-change 2s infinite;

}

.fix-space {

    color: transparent;

}

@keyframes color-change {
    0% { color: #6c757d }
    50% { color: rgb(255, 255, 255); }
    100% { color: #6c757d; }
  }

@media only screen and (max-width: 991px) {

    .text-col {

        margin-top: 30px;

    }

}